@model IEnumerable<MassageStudioSolarisProject.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}
<style>
    thead {
        background-color: lightsteelblue;
    }
</style>
<center class="Heading"><h1>Резервации</h1></center>

<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Резервирана услуга
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Резервирана от
                </th>

            }

            <th>
                Начален час
            </th>
            <th>
                Краен час
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Дата на промяна
                </th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Services.Name)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @item.Clients.FirstName  @item.Clients.LastName
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationEndDate)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                }
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary"asp-action="Edit" asp-route-id="@item.Id">Редакция</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий        </a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
