@model IEnumerable<MassageStudioSolarisProject.Data.Service>

@{
    ViewData["Title"] = "Index";
}
<style>
    .centerpiton {
        display: flex;
        justify-content: center;
    }

    .ServicesContainer {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .services {
        background-color: white;
    }

    body {
        background: rgb(225,255,251);
        background: linear-gradient(90deg, rgba(225,255,251,1) 0%, rgba(152,216,242,1) 100%);
    }

    #btn a {
        background-color: #7373E3;
        border-color: #2A2AD1;
    }

    input[type=submit] {
        background-color: #7373E3;
        border-color: #2A2AD1;
        width: 10   0px;
        font-family: cursive;
        
    }

        input[type=submit]:hover {
            background-color: #4D4DDB;
            border-color: #2A2AD1;
        }

  


</style>
<center class="Heading"><h1>Масажни услуги</h1></center>
@if (User.IsInRole("Admin"))
{
    <center id="btn"><a asp-action="Create" class="btn btn-primary">Създай услуга</a></center>
}

<hr />
<div class="ServicesContainer">
    @foreach (var item in Model)
    {
        <div class="services">
            <a asp-action="Details" asp-route-id="@item.Id"><div class="serviceImg"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" /> </div></a>
            <div class="service-description">
                <div>
                    <div>
                        <dl class="row" style="position: relative;">
                            <div class="description">
                                <dt class="ServiceHeading">
                                    Име на услугата:
                                </dt>
                                <dd class="ServiceInfo">
                                    @Html.DisplayFor(model => item.Name)
                                </dd>
                                <dt class="ServiceHeading">
                                    Цена:
                                </dt>
                                <dd class="Item">
                                    @Html.DisplayFor(model => item.Price) лв.
                                </dd>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="AdminBtn">
                                    <a asp-action="Edit" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Редактирай</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Изтрий</a>
                                </div>
                            }
                            else
                            {
                               
                                    <div class="buttons">

                                        <form method="get" asp-controller="Reservations" asp-action="CreateWithServiceId" asp-route-serviceId="@item.Id">
                                            <label>Начален час на резервацията</label>
                                            <br />
                                            <input name="serviceId" type="hidden" value="@item.Id" />
                                            <input type="datetime-local" id="dateStart" name="startDate">
                                            <br />
                                            <label>Краен час на резервацията</label>
                                            <br />


                                            <input type="datetime-local" id="dateEnd" name="endDate">

                                            <input id="reserveBtn" type="submit" value="Резервирай" class="btn btn-primary" />
                                        </form>


                                    </div>
                                
                         
                               

                            }
                        </dl>
                    </div>


                </div>
            </div>
        </div>
        @*  <div class="services">
    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" />
    <div class="ServiceDescription">
    <div>
    <div>
    <dl class="row" style="position: relative;">
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.Name)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.Price) <span>лв</span>
    </dd>
    </dl>
    </div>
    @if (User.IsInRole("Admin"))
    {
    <div class="btnDiv">
    <div class="buttons">
    <a asp-action="Edit" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Редактирай</a>
    <a asp-action="Details" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Детайли</a>
    <a asp-action="Delete" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Изтрий услугата</a>
    </div>
    </div>

    }
    @if (!User.IsInRole("Admin"))
    {
    <div class="centerpiton">
    <div class="Butoni">

    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Детайли</a>
    <form method="get" asp-controller="Reservations" asp-action="CreateWithServiceId" asp-route-serviceId="@item.Id">
    <input name="wineId" type="hidden" value="@item.Id" />
    <input id="buyBtn" type="submit" value="Резервирай" class="btn btn-primary" />
    </form>

    </div>
    </div>
    }
    </div>
    </div>
    </div> *@
    }
</div>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialists.FirstName)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
